/* initializing */
* {
  margin: 0%;
  padding: 0%;
}

nav a {
  text-decoration: none;
  color: inherit;
}
nav li {
  list-style: none;
  padding: 0% 1%;
}
nav a:hover {
  text-shadow: rgb(201, 197, 184) 10px 5px 10px;
}
nav {
  padding: 1%;
  background-color: rgb(53, 49, 49);
  color: white;
  box-shadow: rgb(146, 142, 127) 2px 0 10px;
  /* flexbox */
  display: flex;
}
.content {
  /* box model */
  margin: 1%;
  padding: 1%;
  /* flexbox */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-content: center; */
  align-items: center;
}
